<template>
    <div class="main-container p-6 bg-cyan-950">
        <UContainer>
            <NuxtLink to="/realty">
                <UButton class="flex" size="sm" color="blue" variant="outline"
                            >Список объектов</UButton>
            </NuxtLink>
            <p class="text-4xl font-bold text-green-50 mt-4">{{ title }}</p>
            <p class="text-green-50 text-base font-light mt-4">Название</p>
            <UInput class="mt-2"
                placeholder="Введите название"
                required="true"
                v-model="name" />
            <p class="text-green-50 text-base font-light mt-4">Описание</p>
            <UTextarea class="mt-2" placeholder="Введите описание" required="true" v-model="description"/>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-10 mt-6 w-fit">
                <MeterCard v-model="data[0]" />
                <MeterCard v-model="data[1]" />
                <MeterCard v-model="data[2]" />
                <MeterCard v-model="data[3]" />
            </div>
            <div class="mt-10">
                <div class="flex flex-row">
                    <UButton class="flex" size="xl"
                    @click="ActionButton"
                    >{{ buttonActionText }}</UButton>
                    <UButton class="flex ml-4 " size="xl" color="red" variant="outline"
                        @click="DeleteButton"
                        v-if="!isNewObject"
                        >Удалить</UButton>
                </div>

                <template v-for="(error, index) in errors" :key="index">
                    <UAlert class="mt-4"
                        icon="i-heroicons-bolt" color="red" variant="subtle"
                        title="Ошибка"
                        :description="error" />
                </template>
            </div>
        </UContainer>
    </div>
</template>

<style lang="scss" scoped>
.main-container {
    width: 100%;
    min-height: 100vh;
    height: auto;
}
</style>

<script lang="ts" setup>
const route = useRoute()
const isNewObject = route.params.id === "new";

const title = isNewObject ? "Создание объекта недвижимости" : "Редактирование объекта недвижимости";
const buttonActionText = isNewObject ? "Создать" : "Редактировать";

let a = new Date().toISOString().substring(0, 10);
let b = new Date((new Date()).setFullYear((new Date()).getFullYear() + 10));
b = b.toISOString().substring(0, 10);

let name = '';
let description = '';
let data: any =
    [
        {
            active: false,
            name: "Счетчик электричества",
            numberMeter: undefined,
            dateManufacture: a,
            dateVerification: b,
        },
        {
            active: false,
            name: "Счетчик газа",
            numberMeter: undefined,
            dateManufacture: a,
            dateVerification: b,
        },
        {
            active: false,
            name: "Счетчик воды",
            numberMeter: undefined,
            dateManufacture: a,
            dateVerification: b,
        },
        {
            active: false,
            name: "Счетчик горячей воды",
            numberMeter: undefined,
            dateManufacture: a,
            dateVerification: b,
        },
    ]

const id: ComputedRef<number> = computed(()=>{return parseInt(route.params.id as string)});

let object: any;
if (!isNewObject) {
    const { getObject } = useObject();
    try {
        object = await getObject(id.value);
    }
    catch {
        throw createError({
            statusCode: 404,
            statusMessage: 'Данный объект недвижимости не может быть получен'
        })

    }
    name = object.name;
    description = object.description;
    data = [];
    data.push(object.electric);
    data.push(object.gas);
    data.push(object.water);
    data.push(object.waterHot);
}

let errors: any = ref([]);

const ActionButton = () => {
    handlerErrorMessage();
    if (errors.value.length === 0) {
        if (isNewObject) {
            let objectSend = {
                name: name,
                description: description,
                electric: data[0],
                gas: data[1],
                water: data[2],
                waterHot: data[3],
            }
            const { crateObject } = useObject();
            crateObject(objectSend);
            const router = useRouter()
            setTimeout(()=>{
                router.push("/realty").then(()=>{console.log("push to realty")})
            }, 500);

        }
        else {
            let objectSend = {
                id: object.id,
                name: name,
                description: description,
                electric: data[0],
                gas: data[1],
                water: data[2],
                waterHot: data[3],
            }
            const { putObject } = useObject();
            putObject(objectSend);

            const router = useRouter()
            setTimeout(()=>{
                router.push("/realty").then(()=>{console.log("push to realty")})
            }, 500);



        }


    }
}

const handlerErrorMessage = () => {
    errors.value = [];
    if (name.length === 0) {
        errors.value.push('Введите название объекта');
    }
    let isOnceActive = data.some(item => item.active === true);
    if (!isOnceActive) {
        errors.value.push('Активируйте хотя бы один счетчик');
    }

    data.forEach((item) => {
        if (Date.parse(item.dateManufacture) >= Date.parse(item.dateVerification)) {
            errors.value.push(`Дата производства "${item.name}" больше даты поверки`);
        }
    });
}

const DeleteButton = () => {
    const { deleteObject } = useObject();
    deleteObject(id.value)

    const router = useRouter()
    setTimeout(()=>{
        router.push("/realty").then(()=>{console.log("push to realty")})
    }, 500);
}

</script>
