<template>
    <div class="main-container">
        <div class="cover-container">
            <NuxtImg
                src="/main.jpg"
                alt=""
                class="cover"
                quality="30"
            />

        </div>
        <div class="main-block">
            <p class="text-5xl font-bold text-center text-cyan-50">Уведомление о замене счетчика</p>
            <p class="text-base font-light text-center text-cyan-50 mt-4">Данный сервис служит вашим персональным помощником в вопросах учета коммунальных услуг. Оно автоматически отправляет уведомления в Telegram о необходимости замены или проверки вашего бытового счетчика, обеспечивая своевременное обслуживание и точный учет расхода ресурсов. Больше не нужно беспокоиться о пропущенных сроках замены счетчиков!</p>
            <div class="action-button-container mt-12 ">
                <button class="px-5 py-2 text-cyan-50 bg-green-500 rounded cursor-pointer"
                    @click="openLogin()"
                    >Войти в аккаунт</button>
                <button class="px-5 py-2 text-cyan-50 bg-rose-800 rounded cursor-pointer"
                    @click="openRegistration()"
                    >Зарегистрировать новый аккаунт</button>
            </div>
        </div>

    </div>
</template>

<style lang="scss" scoped>
.main-container {
    position: relative;
    height: 100vh;
}

.cover {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: brightness(30%);
}

.cover-container {
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-block {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    width: 840px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.action-button-container {
    display: flex;
    justify-content: space-between;
    width: 500px;
}
</style>

<script setup lang="ts">


definePageMeta({
  layout: 'hero'
})

function openLogin() {
    const router = useRouter();
    router.push({ name: 'login' })
}

function openRegistration() {
    const router = useRouter();
    router.push({ name: 'registration' })
}
</script>