<template>
    <div class="main-container p-6 bg-cyan-950">
        <UContainer>
            <p class="text-4xl font-bold text-green-50">Список объектов</p>
            <div class="flex flex-col" v-if="authStorage.tgCode !== null">
                <div class="telegram-alert-container mt-4 flex items-center">
                    <UIcon name="i-heroicons-question-mark-circle" class="bg-yellow-300" />
                    <p class="text-base font-light ml-2 text-green-100">Чтобы получать уведомления в телеграмм, нужно
                        войти
                        в аккаунт в боте meter_replacement_notice_bot.</p>
                </div>
                <UButton label="Открыть окно с кодом для входа" @click="isOpen = true" class="w-60 mt-3" color="cyan" />
            </div>
            <UModal v-model="isOpen">
                <UCard :ui="{ ring: '', divide: 'divide-y divide-gray-100 dark:divide-gray-800' }">
                    <template #header>
                        <div class="flex items-center justify-between">
                            <h3 class="text-base font-semibold leading-6 text-gray-900 dark:text-white">
                                Инструкция по регистрации в Telegram боте
                            </h3>
                            <UButton color="gray" variant="ghost" icon="i-heroicons-x-mark-20-solid" class="-my-1"
                                @click="isOpen = false" />
                        </div>
                    </template>

                    <div class="p-4">
                        1. Зайдите в телеграм бот: <a class="text-cyan-600 hover:text-cyan-500 transition-all"
                            href="https://t.me/meter_replacement_notice_bot">meter_replacement_notice_bot</a>
                    </div>
                    <div class="p-4">
                        2. Наберите код: {{authStorage.tgCode}}
                    </div>
                    <div class="p-4">
                        3. После получения сообщения "Код верный! Добро пожаловать!", вам будут приходить уведомления о
                        том, что нужно поменять счетчик (за 6 месяцев до даты поверки).
                    </div>
                </UCard>

            </UModal>
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mt-10">
                <ObjectCard v-for="(object, index) in objects" :key="index" :id="object.id" :name="object.name"
                    :description="object.description" :electricMeterState="object.electric" :gasMeterState="object.gas"
                    :waterMeterState="object.water" :waterHotMeterState="object.waterHot" class="" />
                <AddObjectCard @click="addCartAction" />
            </div>
        </UContainer>
    </div>
</template>


<script lang="ts" setup>
import { useAuthStorage } from '~/stores/auth';
const authStorage = useAuthStorage()
const isOpen = ref(false)
const { getListObject } = useObject();
let objects: any = await getListObject();

const addCartAction = () => {
    const router = useRouter()
    router.push("/object/new")
}
</script>


<style lang="scss" scoped>
.main-container {
    width: 100%;
    min-height: 100vh;
    height: auto;
}
</style>
