<template>
  <div class="main-container bg-cyan-900">
    <div class="loginForm-container">
      <p class="text-3xl text-green-50 font-bold">Регистрация в системе</p>
      <RegForm class="mt-4" />
      <p class="text-white mt-4">У вас есть аккаунт?</p>
      <UButton class="mt-2" @click="loginPage()" variant="outline">
        Войти
      </UButton>
    </div>
  </div>
</template>


<style lang="scss" scoped>
.main-container {
  width: 100%;
  height: 100vh;
}

.loginForm-container {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 64px;
}
</style>

<script setup lang="ts">
definePageMeta({
  layout: 'auth'
})

function loginPage () {
  const router = useRouter();
  router.push({ name: 'login' })
}
</script>