<template>
  <div class="bg-green-500 hover:bg-green-400 transition-all rounded-2xl w-64 h-48 flex justify-center items-center">
    <UIcon name="i-heroicons-plus-small" class="bg-white text-7xl" />
  </div>
</template>

<script lang="ts" setup>

</script>

<style>

</style>