<template>
  <UPopover :popper="{ placement: 'bottom-start' }">
    <UButton icon="i-heroicons-calendar-days-20-solid"
     :label="format(new Date(date.date), 'dd MMMM yyyy', { locale: ru })" />

    <template #panel="{ close }">
      <DatePicker v-model="date" @close="close" is-required @update:model-value="asd(a)" />
    </template>
  </UPopover>
</template>

<script setup lang="ts">
import { format } from 'date-fns'
import { ru } from 'date-fns/locale'
import datePickerSelectState from '~/utils/datePickerSelectState'
const model = defineModel();

const date = ref({
  date: model.value.date.value
})
let state = 1;

function asd () {

}

watch(date.value, () => {
  model.value.date = date.value.date;
  emit('update', date.value.date.toISOString().substring(0, 10));

})


const emit = defineEmits(['update'])

</script>