<template>
  <div>
    <UForm :schema="schema" :state="state" class="space-y-4"  @submit="onSubmit">
      <UFormGroup label="Логин" name="login" :ui="{label: {base: 'text-white'}}">
        <UInput v-model="state.login" />
      </UFormGroup>

      <UFormGroup label="Пароль" name="password" :ui="{label: {base: 'text-white'}}">
        <UInput v-model="state.password" type="password" />
      </UFormGroup>

      <UButton type="submit">
        Войти
      </UButton>
    </UForm>
  </div>
</template>

<script lang="ts" setup>
import { object, string, type InferType } from 'yup'
import type { FormSubmitEvent } from '#ui/types'

const { login } = useAuth()

definePageMeta({
  layout: 'auth'
})

const schema = object({
  login: string().min(4, 'Должен быть длиннее 4 символов').required('Это поле обязательное'),
  password: string()
    .min(4, 'Должен быть длиннее 4 символов')
    .required('Это поле обязательное')
})

type Schema = InferType<typeof schema>

const state = reactive({
  login: '',
  password: ''
})

async function onSubmit (event: FormSubmitEvent<Schema>) {
  if (state.login === undefined || state.password === undefined)
  {
    state.error = "Логин или пароль не заполнены";
    return;
  }
  try {
    await login(state.login, state.password);
    const router = useRouter();
    router.push({ name: 'realty' })
  } catch (error: any) {
    state.error = error.message;
  }
}
</script>

<style>
  /* Apply white color to all text inside the form */
  .text-white {
    color: white;
  }
</style>