<template>
  <div class="block w-96 p-6 bg-white border rounded-lg shadow-xl">
    <div class="flex flex-row items-center">
      <UToggle v-model="selected" class="mr-3" />
      <p class="text-green-950 text-xl font-bold">{{ model.name }}</p>
    </div>
    <div class="flex flex-col mt-4">
      <p class="text-green-950 text-sm font-normal">Номер счетчика</p>
      <UInput class="mt-2" v-model="model.numberMeter" placeholder="Введите номер счетчика"/>
    </div>

    <div class="flex flex-col mt-6">
      <p class="text-green-950 text-sm font-normal">Дата производства</p>
        <DatePickerSelect
          class="mt-2"
          v-model="a"
            @update="updateA"
          state="datePickerSelectState.normal"
           />
    </div>

    <div class="flex flex-col mt-4">
      <p class="text-green-950 text-sm font-normal">Дата поверки</p>
        <DatePickerSelect
            class="mt-2"
            v-model="b"
            @update="updateB"
            />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { format } from 'date-fns'
import datePickerSelectState from '~/utils/datePickerSelectState'
const model = defineModel();


const selected = ref(false);
selected.value = model.value.active;
let dateManufacture = ref(model.value.dateManufacture);
let dateVerification = ref(model.value.dateVerification);

let a = {
  date: dateManufacture
}

let b = {
  date: dateVerification
}

watch(selected, () => {
  model.value.active = selected.value;
})

function updateA(a) {
  model.value.dateManufacture = a;
}

function updateB(a) {
  model.value.dateVerification = a;
}

</script>