<template>
  <div class="bg-green-50 hover:bg-green-100 transition-all rounded-2xl w-64 h-48 p-3 flex flex-col"
    @click="toObjectPage()">
    <p class="text-xl font-bold">{{ nameShort }}</p>
    <p class="text-base font-light text-wrap break-all flex-1">{{ descriptionShort }}</p>
    <div class="flex justify-end">
      <nuxt-icon
        name="electric-meter"
        class=" text-3xl"
        v-if="isElectricMeterShow"
        :class="{
          'text-green-400': !isElectricMeterOverdue,
          'text-red-500': isElectricMeterOverdue
        }"></nuxt-icon>
        <nuxt-icon
        name="gas-meter"
        class=" text-3xl"
        v-if="isGasMeterShow"
        :class="{
          'text-green-400': !isGasMeterOverdue,
          'text-red-500': isGasMeterOverdue
        }"></nuxt-icon>
        <nuxt-icon
        name="water-meter"
        class=" text-3xl"
        v-if="isWaterMeterShow"
        :class="{
          'text-green-400': !isWaterMeterOverdue,
          'text-red-500': isWaterMeterOverdue
        }"></nuxt-icon>
        <nuxt-icon
        name="water-hot-meter"
        class=" text-3xl"
        v-if="isWaterHotMeterShow"
        :class="{
          'text-green-400': !isWaterHotMeterOverdue,
          'text-red-500': isWaterHotMeterOverdue
        }"></nuxt-icon>
    </div>
  </div>
</template>

<style>
.nuxt-icon svg {
  margin-bottom: 0;
}
</style>

<script lang="ts" setup>
import meterState from '~/utils/meterState';

const props = defineProps({
  id: { type: String, default: '' },
  name: { type: String, default: '' },
  description: { type: String, default: '' },
  electricMeterState: { type: Number, default: meterState.off },
  gasMeterState: { type: Number, default: meterState.off },
  waterMeterState: { type: Number, default: meterState.off },
  waterHotMeterState: { type: Number, default: meterState.off }
})

const nameShort = computed(() => {
  if (props.name.length > 23)
    return props.name.slice(0, 18) + "...";

  else
    return props.name
});

const descriptionShort = computed(() => {
  if (props.description.length > 105)
    return props.description.slice(0, 105) + "...";
  else
    return props.description
});

const isElectricMeterShow = computed(() => {
  return props.electricMeterState !== meterState.off;
});

const isElectricMeterOverdue = computed(() => {
  return props.electricMeterState === meterState.overdue;
});

const isGasMeterShow = computed(() => {
  return props.gasMeterState !== meterState.off;
});

const isGasMeterOverdue = computed(() => {
  return props.gasMeterState === meterState.overdue;
});

const isWaterMeterShow = computed(() => {
  return props.waterMeterState !== meterState.off;
});

const isWaterMeterOverdue = computed(() => {
  return props.waterMeterState === meterState.overdue;
});

const isWaterHotMeterShow = computed(() => {
  return props.waterHotMeterState !== meterState.off;
});

const isWaterHotMeterOverdue = computed(() => {
  return props.waterHotMeterState === meterState.overdue;
});

function toObjectPage () {
  if (props.id === '') return;
  const router = useRouter();
  router.push({ path: `/object/${props.id}` })
}

</script>