<template>
  <div>
    <UForm :schema="schema" :state="state" class="space-y-4"  @submit="onSubmit">
      <UFormGroup label="Логин" name="login" :ui="{label: {base: 'text-white'}}">
        <UInput v-model="state.login" color="white"  />
      </UFormGroup>

      <UFormGroup label="Пароль" name="password" :ui="{label: {base: 'text-white', required:'text-white'}}">
        <UInput v-model="state.password" type="password" color="white"/>
      </UFormGroup>

      <UFormGroup label="Подтверждение пароля" name="passwordConfirmation"  :ui="{label: {base: 'text-white'}}">
        <UInput v-model="state.passwordConfirmation" type="password"  />
      </UFormGroup>
      <UButton type="submit">
        Регистрация
      </UButton>
    </UForm>
    <UAlert v-show="state.error !== ''"
            class="mt-4"
            icon="i-heroicons-bolt" color="red" variant="subtle"
            title="Ошибка"
            :description="state.error" />
  </div>
</template>

<script lang="ts" setup>
import { object, string, type InferType } from 'yup'
import * as yup from 'yup';
import type { FormSubmitEvent } from '#ui/types'

const { signup, login } = useAuth()

definePageMeta({
  layout: 'auth'
})

const schema = object({
  login: string().min(4, 'Должен быть длиннее 4 символов').required('Это поле обязательное'),
  password: string()
    .min(4, 'Должен быть длиннее 4 символов')
    .required('Это поле обязательное'),
  passwordConfirmation: yup.string().required('Это поле обязательное')
    .test('passwordConfirmation', 'Пароли должны совпадать', function(value){
      return this.from[0].value.password === value
    })

})

type Schema = InferType<typeof schema>

  const state = reactive({
  login: '',
  password: '',
  passwordConfirmation: '',
  error: ''
})

async function onSubmit (event: FormSubmitEvent<Schema>) {
  if (state.login === undefined || state.password === undefined)
  {
    state.error = "Логин или пароль не заполнены";
    return;
  }
  try {
    await signup(state.login, state.password);
    await login(state.login, state.password);
    const router = useRouter();
    router.push({ name: 'realty' })
  } catch (error: any) {
    state.error = error.message;
  }
}
</script>

<style>
  .text-white {
    color: white;
  }
</style>