<template>
    <header class="flex justify-between p-5 bg-cyan-900">
        <div class="logo-container flex align-baseline" @click="homePage()">
            <NuxtImg
            src="/logo.png"
            alt=""
            class="float-left margin-fleche"
            width="48"
            quality="70"></NuxtImg>
        <p class="text-2xl font-bold w-96 align-middle p-2 text-green-50">Замена счетчика</p>
        </div>
        <UButton
                @click="logoutHandler"
                v-if="exitType"
                >Выход</UButton>
    </header>
</template>

<script setup lang="ts">
const { logout } = useAuth()

defineProps({
    exitType: {
        type: Boolean,
        default: true
    },
})


function logoutHandler() {
    logout();
    homePage();
}

function homePage() {
    const router = useRouter();
    router.push({ name: 'index' })
}
</script>
